<p>
<a href="/">Back to Gem Index</a>
</p>

<ul class="gemlist">
  <% @gem.by_name do |name, versions| %>
    <li class="gem-version">
      <h2><%= name %> (<%= versions.count == 1 ? versions.first.number : "#{versions.oldest.number} - #{versions.newest.number}" %>)</h2>
      <% versions.each.reverse_each do |version| %>
        <p>
        <code>gem install <%= version.name %> <%= "--prerelease" if version.number.to_s.match(/[a-z]/i) %> -v "<%= version.number %>"</code>
        <% unless version.platform =~ /^ruby/i %>
          <small class="platform"><%= version.platform %></small>
        <% end %>
        </p>
        <form class="delete-form" method="post" action="<%= url("/gems/#{version.gemfile_name}.gem") %>">
          <a class="download" href="<%= url("/gems/#{version.gemfile_name}.gem") %>">download</a>
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit">delete</button>
        </form>
      <% end %>

      <div class="details">
        <p>
        <% if spec = spec_for(name, versions.newest.number) %>
          <%= spec.description %>
          <br/>
          <span class="author">– <%= spec.authors.map do |author|
            "<a href='#{spec.homepage}'>#{author}</a>"
          end.join(', ') %></span>
        <% end %>
        </p>
      </div>

    </li>
  <% end %>
</ul>
