<% if @gems.any? %>
  <a href="upload">Upload Another Gem</a>

  <div id="alpha_index"><%= ("a".."z").map{|i| @index_gems.include?(i) ? "<a href='#jump_#{i}'>#{i}</a>" : i }.join(" - ") %></div>

  <ul class="gemlist">

    <% @gems.each do |name, versions| %>
      <li <%= %{id="jump_#{name[0..0]}"} if @index_gems.delete(name[0..0]) %>>
        <strong><%= name %> (<%= versions.size == 1 ? versions.first : "#{versions.first} - #{versions.last}" %>)</strong>
        <% versions.each do |version| %>
          <form class="delete-form" method="post" action="/gems/<%= name %>-<%= version %>.gem">
            <code>gem install <%= name %> -v "<%= version %>"</code>
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">delete</button>
          </form>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<a href="upload">Upload Another Gem</a>
