<% if @gems.any? %>
  <a href="upload">Upload Another Gem</a>

  <div id="alpha_index"><%= ("a".."z").map{|i| @index_gems.include?(i) ? "<a href='#jump_#{i}'>#{i}</a>" : i }.join(" - ") %></div>

  <ul class="gemlist">

    <% @gems.each do |name, versions| %>
      <li <%= %{id="jump_#{name[0..0]}"} if @index_gems.delete(name[0..0]) %>>
        <h2><%= name %> (<%= versions.size == 1 ? versions.first : "#{versions.first} - #{versions.last}" %>)</h2>
        <% versions.each do |version| %>
          <form class="delete-form" method="post" action="/gems/<%= name %>-<%= version %>.gem">
            <code>gem install <%= name %> <%= "--prerelease" if version.to_s.match(/[a-z]/i) %> -v "<%= version %>"</code>
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">delete</button>
          </form>
        <% end %>

        <div class="details">
          <p>
            <% if spec = spec_for(name, versions.last) %>
              <%= spec.description %>
              <br/>
              <span class="author">– <%= spec.authors.map do |author|
                "<a href='#{spec.homepage}'>#{author}</a>"
              end.join(', ') %></span>
            <% end %>
          </p>
        </div>

      </li>
    <% end %>
  </ul>
<% end %>

<a href="upload">Upload Another Gem</a>
